<h1>Pirates and their Ships</h1>
<form action='/pirates' method="POST">
    <fieldset>
      <li>
        <label>Pirate Name</label>
        <input ... name="pirate[name]"/></li>
      <li>
        <label>Pirate Weight</label>
        <input ... name="pirate[weight]" />
      </li>
      <li>
        <label>Pirate Height</label>
        <input ... name="pirate[height]" />
      </li>
    </fieldset>
  <% end %>
  <input type="submit"/>
</form>